<!-- footer begin -->
<footer class="footer indent">
	<div class="container">
		<ul class="footer__nav">
			<li class="nav__item logo">
				<h1><a href="#">URLAUBSGLÜCK</a></h1>
			</li>
			<li class="nav__item">
				<h5 class="nav__item__heading">Company</h5>
				<ul>
					<li><a href="">About us</a></li>
					<li><a href="">Contacts</a></li>
					<li><a href="">Press</a></li>
					<li><a href="">Blog</a></li>
				</ul>
			</li>
			<li class="nav__item">
				<h5 class="nav__item__heading">Partners</h5>
				<ul>
					<li><a href="">Caramel</a></li>
					<li><a href="">Strawberry</a></li>
					<li><a href="">Apple</a></li>
					<li><a href="">Orange</a></li>
				</ul>
			</li>
			<li class="nav__item">
				<h5 class="nav__item__heading">News</h5>
				<ul>
					<li><a href="">New</a></li>
					<li><a href="">Latest</a></li>
					<li><a href="">Info</a></li>
				</ul>
			</li>
			<li class="nav__item">
				<div class="creator">
					<span>designed by</span>
				</div>
			</li>
		</ul>
	</div>
</footer>
<!-- footer  -->