<!-- partners begin -->
<div class="partners container indent">
	<div class="title">
		<h3>Meet a partner for your best holiday</h3>
	</div>
	<div class="partners__inner row">
		<div class="partners__item  col col-3">
	        <div class="item_inner">
		        <div class="img_wrap">
		        	<div class="circle_bg">
		        		<img src="images/partner_1.png" alt="">
		        	</div>
		        	<div class="circle_bg_small bg_color1"><i class="fa fa-desktop"></i></div>
		        </div>
		        <h4>Bradley Hunter</h4>
		        <p>Based in Chicago. I love playing tennis and loud music.</p>
          	</div>
      	</div>
      	<div class="partners__item  col col-3">
	        <div class="item_inner">
	        <div class="img_wrap">
	        	<div class="circle_bg">
	        		<img src="images/partner_2.png" alt="">
	        	</div>
	        	<div class="circle_bg_small bg_color2"><i class="fa fa-desktop"></i></div>
	        </div>
	        <h4>Heather Walker</h4>
	        <p>I'm a happy person that loves cats and climbing on mountains.</p>
          	</div>
      	</div>
      	<div class="partners__item  col col-3">
	        <div class="item_inner">
	        <div class="img_wrap">
	        	<div class="circle_bg">
	        		<img src="images/partner_3.png" alt="">
	        	</div>
	        	<div class="circle_bg_small bg_color3"><i class="fa fa-desktop"></i></div>
	        </div>
	        <h4>Lucas Marsha</h4>
	        <p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
          	</div>
      	</div>
      	<div class="partners__item  col col-3">
	        <div class="item_inner">
	        <div class="img_wrap">
	        	<div class="circle_bg">
	        		<img src="images/partner_4.png" alt="">
	        	</div>
	        	<div class="circle_bg_small bg_color4"><i class="fa fa-desktop"></i></div>
	        </div>
	        <h4>Bradley Hunter</h4>
	        <p>Based in Chicago. I love playing tennis and loud music.</p>
          	</div>
      	</div>
	</div>
	<a href="" class="btn partners_btn">See other partners</a>
</div>
<!-- partners -->