<!-- HOW it works begin -->
<div class="how-works container indent">
	<div class="title">
		<h3>How Urlaubsglück works?</h3>
	</div>
	<div class="row">
		<div class="how__item col col-4">
			<!-- slider begin -->
			<div class="slider">
				<a class="prewbutton" href="#">&lt;</a>
				<a class="nextbutton" href="#">&gt;</a>
				<span class="step">step 1</span>
      			<div class="slide-list">
        			<div class="slide-wrap">
          				<div class="slide-item">
              				<a href="#">
                				<img src="images/slide_img1.jpg"  alt="">
                				<div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
              				</a>
          				</div>
				        <div class="slide-item">
				              <a href="#">
				                <img src="images/slide_img2.jpg" alt="">
				                <div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
				              	</div>
				              </a>
				        </div>
        				<div class="slide-item">
        					<a href="#">
                				<img src="images/slide_img3.jpg" alt="">
                				<div class="info">
					                <h3>Abrakadabra go</h3>
					                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
				              	</div>
              				</a>
        				</div>
        			</div>
      			</div>
    		</div>
    		<!-- slider  -->
		</div>
		<div class="how__item col col-4">
			<!-- slider begin -->
			<div class="slider">
				<a class="prewbutton" href="#">&lt;</a>
				<a class="nextbutton" href="#">&gt;</a>
				<span class="step">step 2</span>
      			<div class="slide-list">
        			<div class="slide-wrap">
          				<div class="slide-item">
              				<a href="#">
                				<img src="images/slide_img2.jpg" alt="">
                				<div class="info">
					                <h3>Morbi velit risus</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
              				</a>
          				</div>
				        <div class="slide-item">
				              <a href="#">
				                <img src="images/slide_img3.jpg" alt="">
				                <div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
				              </a>
				        </div>
        				<div class="slide-item">
        					<a href="#">
                				<img src="images/slide_img1.jpg" alt="">
                				<div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
              				</a>
        				</div>
        			</div>
      			</div>
    		</div>
    		<!-- slider  -->
		</div>
		<div class="how__item col col-4">
			<!-- slider begin -->
			<div class="slider">
				<a class="prewbutton" href="#">&lt;</a>
				<a class="nextbutton" href="#">&gt;</a>
				<span class="step">step 3</span>
      			<div class="slide-list">
        			<div class="slide-wrap">
          				<div class="slide-item">
              				<a href="#">
                				<img src="images/slide_img3.jpg" alt="">
                				<div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
              				</a>
          				</div>
				        <div class="slide-item">
				              <a href="#">
				                <img src="images/slide_img1.jpg" alt="">
				                <div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
				              </a>
				        </div>
        				<div class="slide-item">
        					<a href="#">
                				<img src="images/slide_img2.jpg" alt="">
                				<div class="info">
					                <h3>Sed leo enim,<br>condimentum</h3>
					                <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				              	</div>
              				</a>
        				</div>
        			</div>
      			</div>
    		</div>
    		<!-- slider -->
		</div>
	</div>	
</div>
<!-- HOW it works  -->